# <type>(<scope>): <subject>// 空一行<body>// 空一行<footer>
# feat：新功能（feature）
# fix：修补bug
# docs：文档（documentation）
# style： 格式（不影响代码运行的变动）
# refactor：重构（即不是新增功能，也不是修改bug的代码变动）
# test：增加测试
# chore：构建过程或辅助工具的变动

# subject 结尾不加句号
# 更多内容参考链接：https://www.oschina.net/news/69705/git-commit-message-and-changelog-guide

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac OS
.DS_Store

# IntelliJ IDEA Files
.idea/
*.iml
target/
out/
