<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="com.luckycoding.HelloWorld" scope="singleton">
        <!--        <property name="message" value="Zither Peng"></property>-->
    </bean>

    <bean id="exampleBean" class="com.luckycoding.loC.ExampleBean" init-method="init" destroy-method="destroy">
        <property name="message" value="Zither Peng"></property>
    </bean>

    <bean id="helloParent" class="com.luckycoding.inherit.HelloParent" abstract="true">
        <property name="message1" value="father"></property>
        <property name="message2" value="mother"></property>
    </bean>

    <bean id="helloChild" class="com.luckycoding.inherit.HelloChild" parent="helloParent">
        <property name="message1" value="child1"></property>
        <property name="message3" value="child3"></property>
    </bean>

<!--    <bean class="com.luckycoding.loC.InitExampleBean"></bean>-->

</beans>